-@athletes.each do |athlete|
  %h2.athlete
    = link_to athlete.name, athlete
    = athlete.age
    = athlete.height
    = athlete.weight
    = athlete.location

= link_to "Create Athlete", new_athlete_path
